body{
  text-align: center;
}

h2{
  font-family: "Montserrat",sans-serif;
  font-size:2.7rem;
  line-height:1.5;
  font-weight:bold;
  padding-left: 20px;
  padding-right: 20px;
}


.feat{
  padding-top: 6%;
  padding-bottom: 4%;
}


.pricing-column{
  padding:4% 2%;
}


.hoho{
  font-family: "Montserrat",sans-serif;
  font-size:3.5rem;
  line-height:1.5;
  font-weight:bold;
  margin-top:60px;
  margin-bottom: 30px;
  color: #FEFEFE;
  text-align: left;
}


.container-fluid{
  padding: 3% 15%;
}


.navbar-brand {
  font-family: "Ubuntu",sans-serif;
  font-weight:500;
  font-size:2.2rem;
}


.nav-link{
  font-family: "Ubuntu",sans-serif;
  font-size: 1.2rem;
}


.nav-item{
  padding-left: 20px;
  padding-right: 20px;
}


.title-image{
  width:55%;
  transform:rotate(25deg);
  position:absolute;
  right:70px;
  top:-30px;
}


.icon1{
  color:#ef8172;
  font-size:60px;
}


.icon1:hover{
  color:#FF4B67;
}


.features{
  font-family: "Montserrat",sans-serif;
  font-size:1.5rem;
  font-weight:600;
  margin-top:18px;
  margin-bottom:6px;
}


.press-logo{
  width:15%;
  margin:20px 20px 30px;
}


.carousel-item{
  padding: 7% 15%;
}

/* Testimonials */

.cta{
  font-family: "Montserrat",sans-serif;
  font-size:3rem;
  font-weight:bold;
  color:#FEFEFE;
  width:60%;
  padding-top:5%;
  padding-bottom: 4%;
  margin:auto;
}


.footer{
  padding-top: 5%;

}


#title{

  background-color: #FF4B67;

}


#features{
  position:relative;
  z-index:1;
}

#testimonials{
  color: #FEFEFE;
  background-color: #ef8172;
}


#press{
  background-color:#ef8172;
  padding-bottom: 3%;

}

#pricing{
  padding:100px;

}



@media (max-width:1028px){
#title{
  text-align: center;
}

  .title-image{
    position:static;
    transform: rotate(0deg);

  }
}
